@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
    padding-left: 15px;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#fefefe;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
/* ------------------ */
	#myChart {
	  max-width: 300px;
	  max-height: 300px;
	}
	.group{
		max-width: 1000px;
	}
    .left {
        float: left;
        width: 20%;
    }
    .right {
        float: right;
        width: 80%;
    }
    svg {
        max-width: 200px;
        height: auto;
    }
    .stats svg{
    	max-width: 800px;
    }
    .group:after {
        content:"";
        display: table;
        clear: both;
    }
    @media screen and (max-width: 480px) {
        .left, .right {
            float: none;
            width: auto;
        }
    }
/* ------------------ */

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Roboto',sans-serif;
	color: #fefefe;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 2em;
}
p{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	margin-bottom: 10px;
	font-weight: 300;
	letter-spacing: 1.2px;
}
.intro p{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	margin-bottom: 10px;
	margin-right: 20%;
	font-weight: 300;
	letter-spacing: 1.2px;
}
.intros p {
    font-size: 1em;
    margin-bottom: 10px;
    margin-left: 20%;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #fefefe;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}
.career-list ul {
	list-style: initial;
    padding-left: 15px;
}
.career-list li {
  list-style-type: none;
  position:relative;
  margin-bottom:0.5em;
}
.career-list li:before {
  content: '•';
  display: inline-block;
  position: absolute;
  left: -1em;
  color:#fefefe;
}
.career-il{
	width: 100%;
	padding-bottom: 10px;
}
.career-il1{
	width:100%;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1.2px;
    text-align: left;
    padding-right: 10px;
}
.career-il1 :before {
  content: '•';
  color:#fefefe;
    left: -1em;
}
.career-il img{
	width: 80%;
	padding-bottom: 5px;
	text-align: center;
}
.box {
    width: 150px;
    margin: 10px auto;
    border: 1px solid #fefefe;
}
.box a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #fefefe;
    letter-spacing: 1px;
}

.anim{
	width: 30%;
	text-align: right;
}
.desc{
	width: 50%;
/*	text-align: left;*/
    padding-left: 20px;
    text-align: justify;
  text-align-last: left;
}
.anim1{
	width: 30%;
	text-align: left;
}
.desc1{
	width: 50%;
/*	text-align: right;*/
    padding-right: 20px;
    text-align: justify;
  	text-align-last: right;
}

@media (max-width : 870px){
	.anim{
		width: 100%;
		display: block;
		text-align: center;	
	}
	.desc{
		width: 70%;
		display: block;
		margin: 0 auto;

	}
	.desc p{
		width:
	}
	.anim1{
		width: 100%;
		display: block;
		text-align: center;	
		margin-top: 20px;
	}
	.desc1{
		width: 100%;
		display: block;
		text-align: left;
		padding-left: 20px;
	}
	.intros p{
		margin: 0;
	}
	.intro p {
    font-size: 1em;
    margin-bottom: 10px;
    margin-right: 0;
}
	.desc1 p{
		width: 70%;
	}
}
@media (max-width: 540px){
	.desc p{
		width: 92%;
	}
	.career-il1{
		float: left;
		width: 100%;
		display: block;
	}
}
@media (max-width: 390px){
	.desc p{
		width: 90%;
	}
}

/* 
  (IMAGE) PARAMS
  =================
  @mixin imgGlitch($name, $intensity, $width, $height, $top, $left)
  =================
  1. Namespace
  2. Intensity
  3. Width (px)
  4. Height (px)
  5. Top (px, abs pos)
  6. Left (px, abs pos)
*/
@keyframes logo-glitch-anim-1 {
  0% {
    clip: rect(48px, 450px, 136px, 0);
  }
  6.66667% {
    clip: rect(44px, 450px, 64px, 0);
  }
  13.33333% {
    clip: rect(8px, 450px, 106px, 0);
  }
  20% {
    clip: rect(24px, 450px, 98px, 0);
  }
  26.66667% {
    clip: rect(101px, 450px, 113px, 0);
  }
  33.33333% {
    clip: rect(4px, 450px, 88px, 0);
  }
  40% {
    clip: rect(7px, 450px, 67px, 0);
  }
  46.66667% {
    clip: rect(46px, 450px, 84px, 0);
  }
  53.33333% {
    clip: rect(75px, 450px, 94px, 0);
  }
  60% {
    clip: rect(66px, 450px, 33px, 0);
  }
  66.66667% {
    clip: rect(66px, 450px, 118px, 0);
  }
  73.33333% {
    clip: rect(128px, 450px, 43px, 0);
  }
  80% {
    clip: rect(133px, 450px, 60px, 0);
  }
  86.66667% {
    clip: rect(66px, 450px, 82px, 0);
  }
  93.33333% {
    clip: rect(106px, 450px, 53px, 0);
  }
  100% {
    clip: rect(63px, 450px, 53px, 0);
  }
}
@keyframes logo-glitch-anim-2 {
  0% {
    clip: rect(82px, 450px, 18px, 0);
  }
  6.66667% {
    clip: rect(75px, 450px, 124px, 0);
  }
  13.33333% {
    clip: rect(62px, 450px, 126px, 0);
  }
  20% {
    clip: rect(34px, 450px, 54px, 0);
  }
  26.66667% {
    clip: rect(111px, 450px, 25px, 0);
  }
  33.33333% {
    clip: rect(26px, 450px, 61px, 0);
  }
  40% {
    clip: rect(72px, 450px, 98px, 0);
  }
  46.66667% {
    clip: rect(12px, 450px, 28px, 0);
  }
  53.33333% {
    clip: rect(31px, 450px, 97px, 0);
  }
  60% {
    clip: rect(78px, 450px, 84px, 0);
  }
  66.66667% {
    clip: rect(96px, 450px, 52px, 0);
  }
  73.33333% {
    clip: rect(66px, 450px, 127px, 0);
  }
  80% {
    clip: rect(87px, 450px, 1px, 0);
  }
  86.66667% {
    clip: rect(78px, 450px, 66px, 0);
  }
  93.33333% {
    clip: rect(69px, 450px, 117px, 0);
  }
  100% {
    clip: rect(42px, 450px, 58px, 0);
  }
}
.logo-glitch {
	position: relative;
    width: 460px;
    margin: 0 auto;
    height: 140px;
}
.logo-glitch > img {
    position: absolute;
    top: 0;
    left: 2px;
    width: 450px;
}
.logo-glitch > img:nth-child(2),
.logo-glitch > img:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.logo-glitch > img:nth-child(2) {
  left: 5px;
  animation: logo-glitch-anim-1 2s infinite linear alternate-reverse;
}
.logo-glitch > img:nth-child(3) {
  left: 1px;
  animation: logo-glitch-anim-2 3s infinite linear alternate-reverse;
}

/*glitchabout ilutr*/

/* 
  (IMAGE) PARAMS
  =================
  @mixin imgGlitch($name, $intensity, $width, $height, $top, $left)
  =================
  1. Namespace
  2. Intensity
  3. Width (px)
  4. Height (px)
  5. Top (px, abs pos)
  6. Left (px, abs pos)
*/
@keyframes about-glitch-anim-1 {
  0% {
    clip: rect(128px, 155px, 32px, 0);
  }
  6.66667% {
    clip: rect(140px, 155px, 79px, 0);
  }
  13.33333% {
    clip: rect(14px, 155px, 76px, 0);
  }
  20% {
    clip: rect(12px, 155px, 6px, 0);
  }
  26.66667% {
    clip: rect(17px, 155px, 113px, 0);
  }
  33.33333% {
    clip: rect(138px, 155px, 59px, 0);
  }
  40% {
    clip: rect(125px, 155px, 51px, 0);
  }
  46.66667% {
    clip: rect(128px, 155px, 47px, 0);
  }
  53.33333% {
    clip: rect(37px, 155px, 44px, 0);
  }
  60% {
    clip: rect(63px, 155px, 54px, 0);
  }
  66.66667% {
    clip: rect(21px, 155px, 150px, 0);
  }
  73.33333% {
    clip: rect(20px, 155px, 69px, 0);
  }
  80% {
    clip: rect(70px, 155px, 146px, 0);
  }
  86.66667% {
    clip: rect(78px, 155px, 7px, 0);
  }
  93.33333% {
    clip: rect(149px, 155px, 46px, 0);
  }
  100% {
    clip: rect(98px, 155px, 85px, 0);
  }
}
@keyframes about-glitch-anim-2 {
  0% {
    clip: rect(152px, 155px, 25px, 0);
  }
  6.66667% {
    clip: rect(15px, 155px, 105px, 0);
  }
  13.33333% {
    clip: rect(155px, 155px, 124px, 0);
  }
  20% {
    clip: rect(147px, 155px, 72px, 0);
  }
  26.66667% {
    clip: rect(8px, 155px, 53px, 0);
  }
  33.33333% {
    clip: rect(79px, 155px, 1px, 0);
  }
  40% {
    clip: rect(146px, 155px, 123px, 0);
  }
  46.66667% {
    clip: rect(141px, 155px, 125px, 0);
  }
  53.33333% {
    clip: rect(135px, 155px, 94px, 0);
  }
  60% {
    clip: rect(100px, 155px, 31px, 0);
  }
  66.66667% {
    clip: rect(55px, 155px, 72px, 0);
  }
  73.33333% {
    clip: rect(135px, 155px, 7px, 0);
  }
  80% {
    clip: rect(148px, 155px, 136px, 0);
  }
  86.66667% {
    clip: rect(84px, 155px, 67px, 0);
  }
  93.33333% {
    clip: rect(115px, 155px, 6px, 0);
  }
  100% {
    clip: rect(107px, 155px, 126px, 0);
  }
}
.about-glitch > img {
  position: absolute;
  top: 200px;
  left: 75px;
}
.about-glitch > img:nth-child(2),
.about-glitch > img:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.about-glitch > img:nth-child(2) {
  left: 77px;
  animation: about-glitch-anim-1 2s infinite linear alternate-reverse;
}
.about-glitch > img:nth-child(3) {
  left: 73px;
  animation: about-glitch-anim-2 3s infinite linear alternate-reverse;
}

/*titleglith*/


.glitch {
	font-family: 'Roboto', sans-serif;
  	color: white;
  	font-size: 2em;
 	position: relative;
 	letter-spacing: 1.2px;
}

@keyframes noise-anim {
  0% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(22px, 9999px, 5px, 0);
  }
  10% {
    clip: rect(38px, 9999px, 44px, 0);
  }
  15% {
    clip: rect(25px, 9999px, 10px, 0);
  }
  20% {
    clip: rect(17px, 9999px, 31px, 0);
  }
  25% {
    clip: rect(5px, 9999px, 17px, 0);
  }
  30% {
    clip: rect(36px, 9999px, 35px, 0);
  }
  35% {
    clip: rect(17px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 36px, 0);
  }
  45% {
    clip: rect(15px, 9999px, 77px, 0);
  }
  50% {
    clip: rect(21px, 9999px, 30px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 94px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 82px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 20px, 0);
  }
  70% {
    clip: rect(52px, 9999px, 67px, 0);
  }
  75% {
    clip: rect(63px, 9999px, 66px, 0);
  }
  80% {
    clip: rect(24px, 9999px, 29px, 0);
  }
  85% {
    clip: rect(12px, 9999px, 29px, 0);
  }
  90% {
    clip: rect(89px, 9999px, 35px, 0);
  }
  95% {
    clip: rect(45px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 85px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 black;
  top: 0;
  color: white;
  background: #010016;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(49px, 9999px, 20px, 0);
  }
  5% {
    clip: rect(90px, 9999px, 81px, 0);
  }
  10% {
    clip: rect(12px, 9999px, 53px, 0);
  }
  15% {
    clip: rect(8px, 9999px, 11px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 69px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 38px, 0);
  }
  30% {
    clip: rect(92px, 9999px, 29px, 0);
  }
  35% {
    clip: rect(96px, 9999px, 56px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 96px, 0);
  }
  45% {
    clip: rect(45px, 9999px, 94px, 0);
  }
  50% {
    clip: rect(79px, 9999px, 95px, 0);
  }
  55% {
    clip: rect(94px, 9999px, 14px, 0);
  }
  60% {
    clip: rect(44px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 74px, 0);
  }
  70% {
    clip: rect(80px, 9999px, 56px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 57px, 0);
  }
  80% {
    clip: rect(52px, 9999px, 67px, 0);
  }
  85% {
    clip: rect(33px, 9999px, 23px, 0);
  }
  90% {
    clip: rect(99px, 9999px, 58px, 0);
  }
  95% {
    clip: rect(91px, 9999px, 98px, 0);
  }
  100% {
    clip: rect(69px, 9999px, 13px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #010016;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/*titleglith*/


.glitch2 {
  color: white;
  font-size: 2em;
  position: relative;
}

@keyframes noise-anim {
  0% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(22px, 9999px, 5px, 0);
  }
  10% {
    clip: rect(38px, 9999px, 44px, 0);
  }
  15% {
    clip: rect(25px, 9999px, 10px, 0);
  }
  20% {
    clip: rect(17px, 9999px, 31px, 0);
  }
  25% {
    clip: rect(5px, 9999px, 17px, 0);
  }
  30% {
    clip: rect(36px, 9999px, 35px, 0);
  }
  35% {
    clip: rect(17px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 36px, 0);
  }
  45% {
    clip: rect(15px, 9999px, 77px, 0);
  }
  50% {
    clip: rect(21px, 9999px, 30px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 94px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 82px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 20px, 0);
  }
  70% {
    clip: rect(52px, 9999px, 67px, 0);
  }
  75% {
    clip: rect(63px, 9999px, 66px, 0);
  }
  80% {
    clip: rect(24px, 9999px, 29px, 0);
  }
  85% {
    clip: rect(12px, 9999px, 29px, 0);
  }
  90% {
    clip: rect(89px, 9999px, 35px, 0);
  }
  95% {
    clip: rect(45px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 85px, 0);
  }
}
.glitch2:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 black;
  top: 0;
  color: white;
  background: #210000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(49px, 9999px, 20px, 0);
  }
  5% {
    clip: rect(90px, 9999px, 81px, 0);
  }
  10% {
    clip: rect(12px, 9999px, 53px, 0);
  }
  15% {
    clip: rect(8px, 9999px, 11px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 69px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 38px, 0);
  }
  30% {
    clip: rect(92px, 9999px, 29px, 0);
  }
  35% {
    clip: rect(96px, 9999px, 56px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 96px, 0);
  }
  45% {
    clip: rect(45px, 9999px, 94px, 0);
  }
  50% {
    clip: rect(79px, 9999px, 95px, 0);
  }
  55% {
    clip: rect(94px, 9999px, 14px, 0);
  }
  60% {
    clip: rect(44px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 74px, 0);
  }
  70% {
    clip: rect(80px, 9999px, 56px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 57px, 0);
  }
  80% {
    clip: rect(52px, 9999px, 67px, 0);
  }
  85% {
    clip: rect(33px, 9999px, 23px, 0);
  }
  90% {
    clip: rect(99px, 9999px, 58px, 0);
  }
  95% {
    clip: rect(91px, 9999px, 98px, 0);
  }
  100% {
    clip: rect(69px, 9999px, 13px, 0);
  }
}
.glitch2:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #210000;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
/*titleglith*/


.glitch3 {
  color: white;
  font-size: 2em;
  position: relative;
}

@keyframes noise-anim {
  0% {
    clip: rect(48px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(22px, 9999px, 5px, 0);
  }
  10% {
    clip: rect(38px, 9999px, 44px, 0);
  }
  15% {
    clip: rect(25px, 9999px, 10px, 0);
  }
  20% {
    clip: rect(17px, 9999px, 31px, 0);
  }
  25% {
    clip: rect(5px, 9999px, 17px, 0);
  }
  30% {
    clip: rect(36px, 9999px, 35px, 0);
  }
  35% {
    clip: rect(17px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 36px, 0);
  }
  45% {
    clip: rect(15px, 9999px, 77px, 0);
  }
  50% {
    clip: rect(21px, 9999px, 30px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 94px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 82px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 20px, 0);
  }
  70% {
    clip: rect(52px, 9999px, 67px, 0);
  }
  75% {
    clip: rect(63px, 9999px, 66px, 0);
  }
  80% {
    clip: rect(24px, 9999px, 29px, 0);
  }
  85% {
    clip: rect(12px, 9999px, 29px, 0);
  }
  90% {
    clip: rect(89px, 9999px, 35px, 0);
  }
  95% {
    clip: rect(45px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 85px, 0);
  }
}
.glitch3:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 black;
  top: 0;
  color: white;
  background: #004042;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(49px, 9999px, 20px, 0);
  }
  5% {
    clip: rect(90px, 9999px, 81px, 0);
  }
  10% {
    clip: rect(12px, 9999px, 53px, 0);
  }
  15% {
    clip: rect(8px, 9999px, 11px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 69px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 38px, 0);
  }
  30% {
    clip: rect(92px, 9999px, 29px, 0);
  }
  35% {
    clip: rect(96px, 9999px, 56px, 0);
  }
  40% {
    clip: rect(31px, 9999px, 96px, 0);
  }
  45% {
    clip: rect(45px, 9999px, 94px, 0);
  }
  50% {
    clip: rect(79px, 9999px, 95px, 0);
  }
  55% {
    clip: rect(94px, 9999px, 14px, 0);
  }
  60% {
    clip: rect(44px, 9999px, 28px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 74px, 0);
  }
  70% {
    clip: rect(80px, 9999px, 56px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 57px, 0);
  }
  80% {
    clip: rect(52px, 9999px, 67px, 0);
  }
  85% {
    clip: rect(33px, 9999px, 23px, 0);
  }
  90% {
    clip: rect(99px, 9999px, 58px, 0);
  }
  95% {
    clip: rect(91px, 9999px, 98px, 0);
  }
  100% {
    clip: rect(69px, 9999px, 13px, 0);
  }
}
.glitch3:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #004042;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}


/*career*/

@keyframes perks-anim-1 {
  0% {
    clip: rect(85px, 150px, 90px, 0);
  }
  6.66667% {
    clip: rect(47px, 150px, 88px, 0);
  }
  13.33333% {
    clip: rect(62px, 150px, 142px, 0);
  }
  20% {
    clip: rect(36px, 150px, 69px, 0);
  }
  26.66667% {
    clip: rect(117px, 150px, 105px, 0);
  }
  33.33333% {
    clip: rect(31px, 150px, 113px, 0);
  }
  40% {
    clip: rect(55px, 150px, 35px, 0);
  }
  46.66667% {
    clip: rect(58px, 150px, 136px, 0);
  }
  53.33333% {
    clip: rect(80px, 150px, 149px, 0);
  }
  60% {
    clip: rect(15px, 150px, 138px, 0);
  }
  66.66667% {
    clip: rect(89px, 150px, 97px, 0);
  }
  73.33333% {
    clip: rect(57px, 150px, 137px, 0);
  }
  80% {
    clip: rect(64px, 150px, 74px, 0);
  }
  86.66667% {
    clip: rect(3px, 150px, 72px, 0);
  }
  93.33333% {
    clip: rect(59px, 150px, 7px, 0);
  }
  100% {
    clip: rect(9px, 150px, 147px, 0);
  }
}
@keyframes perks-anim-2 {
  0% {
    clip: rect(101px, 150px, 129px, 0);
  }
  6.66667% {
    clip: rect(81px, 150px, 81px, 0);
  }
  13.33333% {
    clip: rect(9px, 150px, 51px, 0);
  }
  20% {
    clip: rect(56px, 150px, 119px, 0);
  }
  26.66667% {
    clip: rect(92px, 150px, 25px, 0);
  }
  33.33333% {
    clip: rect(110px, 150px, 112px, 0);
  }
  40% {
    clip: rect(135px, 150px, 30px, 0);
  }
  46.66667% {
    clip: rect(77px, 150px, 6px, 0);
  }
  53.33333% {
    clip: rect(149px, 150px, 2px, 0);
  }
  60% {
    clip: rect(29px, 150px, 67px, 0);
  }
  66.66667% {
    clip: rect(7px, 150px, 80px, 0);
  }
  73.33333% {
    clip: rect(19px, 150px, 32px, 0);
  }
  80% {
    clip: rect(62px, 150px, 46px, 0);
  }
  86.66667% {
    clip: rect(15px, 150px, 60px, 0);
  }
  93.33333% {
    clip: rect(5px, 150px, 7px, 0);
  }
  100% {
    clip: rect(116px, 150px, 77px, 0);
  }
}
.perks > img {
  position: absolute;
  top: 0px;
  left: 2px;
  height: 150px;
}
.perks > img:nth-child(2),
.perks > img:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.perks > img:nth-child(2) {
  left: 5px;
  animation: perks-anim-1 2s infinite linear alternate-reverse;
}
.perks > img:nth-child(3) {
  left: 1px;
  animation: perks-anim-2 3s infinite linear alternate-reverse;
}
.container{
	margin: 0 auto;
	width: 50%;
	text-align: justify;
}
.container1{
	margin: 0 auto;
	width: 50%;

}
@media (max-width: 1250px){
	.container{
		width: 80%
	}
	.container1{
	width: 90%;
	}
}
